[defaults]
host_key_checking    = True
stdout_callback      = default
result_format        = yaml
callbacks_enabled    = timer, profile_tasks
interpreter_python   = /usr/bin/python3
roles_path           = roles
deprecation_warnings = False

[ssh_connection]
ssh_args   = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR
pipelining = True
