<?xml version="1.0" encoding="UTF-8"?>
<!-- Managed by Ansible -->
<Context notFoundClassResourceCacheSize="0">

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!--
      JDBC connection pool - parameters from OpenSpecimen official deployment guide.
      Ref: https://openspecimen.atlassian.net/wiki/spaces/CAT/pages/4191944759/Tomcat+Pool+Configurations
    -->
{% if db_type == 'oracle' %}
    <!--
      Oracle URL format:
        service name (preferred): jdbc:oracle:thin:@//host:port/service_name
        SID (legacy Oracle 11g):  jdbc:oracle:thin:@host:port:sid
      Set oracle_db_service OR oracle_db_sid in inventory vars, not both.
      Ref: https://openspecimen.atlassian.net/wiki/spaces/CAT/pages/4191944759/Tomcat+Pool+Configurations
    -->
    <Resource name="jdbc/openspecimen"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"

              driverClassName="oracle.jdbc.OracleDriver"
{% if oracle_db_sid is defined and oracle_db_sid %}
              url="jdbc:oracle:thin:@{{ oracle_db_host }}:{{ oracle_db_port }}:{{ oracle_db_sid }}"
{% else %}
              url="jdbc:oracle:thin:@//{{ oracle_db_host }}:{{ oracle_db_port }}/{{ oracle_db_service }}"
{% endif %}
              username="{{ oracle_db_user }}"
              password="{{ oracle_db_password }}"

              maxActive="{{ tomcat_pool_max_active }}"
              minIdle="{{ tomcat_pool_min_idle }}"
              initialSize="{{ tomcat_pool_initial_size }}"
              maxWait="{{ tomcat_pool_max_wait_ms }}"

              testWhileIdle="true"
              testOnBorrow="true"
              validationQuery="select 1 from dual"
              validationInterval="{{ tomcat_pool_validation_interval_ms }}"

              timeBetweenEvictionRunsMillis="{{ tomcat_pool_eviction_interval_ms }}"
              minEvictableIdleTimeMillis="{{ tomcat_pool_min_evictable_idle_ms }}"

              removeAbandoned="true"
              removeAbandonedTimeout="{{ tomcat_pool_abandoned_timeout_s }}"
              logAbandoned="true"
              abandonWhenPercentageFull="{{ tomcat_pool_abandon_pct }}"

              jmxEnabled="true"
              jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"
    />
{% else %}
    <Resource name="jdbc/openspecimen"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"

              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://{{ mysql_db_host }}:3306/{{ mysql_db_name }}?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC"
              username="{{ mysql_db_user }}"
              password="{{ mysql_db_password }}"

              maxActive="{{ tomcat_pool_max_active }}"
              minIdle="{{ tomcat_pool_min_idle }}"
              initialSize="{{ tomcat_pool_initial_size }}"
              maxWait="{{ tomcat_pool_max_wait_ms }}"

              testWhileIdle="true"
              testOnBorrow="true"
              validationQuery="select 1"
              validationInterval="{{ tomcat_pool_validation_interval_ms }}"

              timeBetweenEvictionRunsMillis="{{ tomcat_pool_eviction_interval_ms }}"
              minEvictableIdleTimeMillis="{{ tomcat_pool_min_evictable_idle_ms }}"

              removeAbandoned="true"
              removeAbandonedTimeout="{{ tomcat_pool_abandoned_timeout_s }}"
              logAbandoned="true"
              abandonWhenPercentageFull="{{ tomcat_pool_abandon_pct }}"

              jmxEnabled="true"
              jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"
    />
{% endif %}

    <Environment name="config/openspecimen"
                 value="{{ catalina_base }}/conf/openspecimen.properties"
                 type="java.lang.String"
    />

</Context>
